.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  font-size: 1em;
  flex-wrap: wrap;
  height: 100%;
  margin: -100px 15% 0 15%;
}
.projects__header {
  font-size: 3em;
  text-align: center;
}

.projects__single {
  font-size: 1em;
  margin: 2px;
  border: 1px black inset;
  border-radius: 10px;
  background-color: var(--navy);
  height: 250px;
  max-width: 300px;
  min-width: 300px;
  color: white;
  box-shadow: 2px 2px 5px dimgrey;
}

/* TODO: CHECK NAMING OF NESTED __ CSS  */
.projects__single--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.projects__single--image {
  margin-top: 45px;
  height: 100px;
  width: 100px;
}
.projects__single--title {
  font-size: 1.25em;
  font-weight: bold;
}
.projects__single--description {
  margin-top: 20px;
  font-size: 0.75em;
}
