:root {
  --lap-height: 300px;
  --lap-width: 300px;
  --modal-height: 100vh;
  --modal-width: 100vw;
  --screen-height: 194.209px;
  --screen-width: 312.421px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  font-size: 1em;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 100%;
  width: 90%;
  margin-left: 5%;
}
.projects__header {
  font-size: 3em;
  text-align: center;
}

.projects__single {
  font-size: 1em;
  box-shadow: 2px 2px 5px dimgrey;
  margin: 10px;
  border-radius: 10px;
  background: whitesmoke;
  color: black;
}

/* TODO: CHECK NAMING OF NESTED __ CSS  */
.projects__single--content {
  display: flex;
  background-color: darkslategrey;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* padding: 10px; */
}

.projects__single--text {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  height: 35vh;
  width: 300px;
}
.projects__single--title {
  font-size: 1.25em;
  font-weight: bold;
}
.projects__single--description {
  margin-top: 20px;
  font-size: 0.9em;
}

.screen {
  height: var(--screen-height);
  width: var(--screen-width);
}

.screen-image {
  width: 50%;
  height: 100%;
  background-color: darkslategrey;
}
.actual-laptop image {
  transform: scaleX(1.2) translateX(16.5%);
}

.laptop {
  margin-top: 10px;
  border-right: 5px black solid;
  height: var(--lap-height);
  width: var(--lap-width);
  background: darkslategrey;
}

.laptop:hover {
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  cursor: pointer;
}

.laptop-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(128, 128, 128, 0.721);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(128, 128, 128, 0.496);
  height: 100%;
  width: 100%;
  z-index: 6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  height: 38%;
  width: 31%;
  z-index: 100;
  margin-top: -25px;
  z-index: 100;
  border: rgba(0, 0, 0, 0.215) inset;
}

.exit-video {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 10%;
  width: 10%;
  font-size: 3em;
  z-index: 100;
  color: white;
  cursor: pointer;
}

.hide-video {
  display: none;
}

.actual-laptop {
  border: red solid;
}

.projects__box {
  display: inline-block;
  margin-left: 40px;
}
.click-me {
  position: absolute;
  padding: 1px;
  border: rgba(0, 0, 0, 0.495) solid;
  margin: 130px 10px;
  background: rgba(14, 134, 155, 0.187);
  box-shadow: rgb(22, 36, 36) 1px 8px 8px;
}
#one-finger-click {
  fill: rgb(76, 76, 69);
  stroke: rgba(255, 255, 255, 0.851); /* Background color against your svg */
  stroke-width: 1px;
}

@media only screen and (max-width: 1300px) {
  .laptop {
    margin-top: 0;
    border-right: none;
    height: var(--lap-height);
    width: var(--lap-width);
    background: darkslategrey;
  }
  .projects__single--text {
    padding: 0 20px;
    display: flex;
    border-top: 5px black solid;
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 35vh;
  }

  .projects__single--content {
    display: flex;
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
  }
  .video-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(128, 128, 128, 0.496);
    height: 100%;
    width: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video {
    position: absolute;
    height: 40%;
    width: 60%;
    z-index: 10;
    margin-top: -25px;
    border: none;
    animation: 4s fade-in linear 1 forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      width: 60%;
    }
    50% {
      opacity: 1;
      width: 60%;
      transform: translateY(0);
      box-shadow: none;
    }
    100% {
      width: 100%;
      transform: translateY(-50px);
    }
  }
}
