.str0 {
  stroke: black;
  stroke-width: 0.125102;
}
.fil0 {
  fill: none;
}
.fil1 {
  fill: black;
}
.fil2 {
  fill: #1a1a1a;
}
.fil7 {
  fill: #424242;
}
.fil8 {
  fill: #595959;
}
.fil9 {
  fill: #636363;
}
.fil5 {
  fill: #999999;
}
.fil6 {
  fill: #b3b3b3;
}
.fil4 {
  fill: #cccccc;
}
.fil3 {
  fill: #e6e6e6;
}
