.header {
  background: var(--navy);
  color: white;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  box-shadow: 0px 5px 50px rgb(197, 150, 150);
}

.logo-smile {
  height: 300px;
}

#background {
  /* background-repeat: no-repeat; */

  box-shadow: 0px 5px 10px dimgrey;
}
.hoodie-color {
  fill: darkslategray;
  animation: change-colors 15s ease-in-out infinite;
}
.logo::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.35em;
  content: "Software Engineer";
  color: black;
  position: absolute;
  background: white;
  border: 5px var(--navy) solid;
  width: 240px;
  height: 50px;
  border-radius: 100%;
  transform: translate(80px, 320px);
  animation: change-colors 15s ease-in-out infinite;
  box-shadow: 0px 5px 50px dimgrey;
}

.head {
  transform-origin: center;
  transform: rotate(0) translate(0, 3px);
  animation: head-tilt 10s ease-in-out infinite;
}

#body {
  animation: shoulder-raise 6s ease-in-out infinite;
}

@keyframes change-colors {
  0% {
    fill: #165b33;
    border-color: #165b33;
  }

  20% {
    fill: #146b3a;
    border-color: #146b3a;
  }
  40% {
    fill: darkslategray;
    border-color: darkslategray;
  }
  60% {
    fill: #ea4630;
    border-color: #ea4630;
  }
  80% {
    fill: #bb2528;
    border-color: #bb2528;
  }
  100% {
    fill: #165b33;
    border-color: #165b33;
  }
}

@keyframes head-tilt {
  0% {
    transform: rotate(0) translate(0, 3px);
  }
  25% {
    transform: rotate(2deg) translate(1px, 5px);
  }

  50% {
    transform: rotate(0deg) translate(0, 3px);
  }
  75% {
    transform: rotate(-2deg) translate(-1px, 5px);
  }
}

@keyframes shoulder-raise {
  0% {
    -moz-transform: scale(1) translate(0);
    -webkit-transform: scale(1) translate(0);
  }
  25% {
    -moz-transform: scale(1.02) translate(-2px, -2px);
    -webkit-transform: scale(1.02) translate(-2px, -2px);
  }

  50% {
    -moz-transform: scale(1) translate(0);
    -webkit-transform: scale(1) translate(0);
  }
  75% {
    -moz-transform: scale(1.02) translate(-2px, -2px);
    -webkit-transform: scale(1.02) translate(-2px, -2px);
  }
}
