@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4em;
  padding: 50px 0;
  border: var(--pink) solid;
  font-family: "Playfair Display", serif;
}

.text-header {
  padding-top: 25px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

.intro__greet {
  width: 60%;
  font-size: 0.75em;
}
.intro__name {
  width: 60%;
}
