:root {
  --navy: #19397d;
  --pink: #9c5ddb;
  --blue-green: #56e8d5;
}

html,
body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.color-buttons {
  position: absolute;
  display: flex;
  flex-wrap: row;
}
